### 文本格式的数据加载
pandas有一些将表格型数据读取为DataFrame对象的函数，如下
![](images/7178691-958f849e6067b19b.png)
这些函数的选项有以下几类：
1. 索引：可以将一个或多个列当作返回的DataFrame，从文件或用户处获得列名，或者没有列名
2. 类型推断:不用指定列的类型（如数值、整数、布尔值还是字符串）
3. 数据转换：用户自定义的值转换，以及用户自定义的缺失值符号列表等
4. 日期解析：包括多个列组合成单个列
5. 迭代：大文件迭代读取
6. 不规整数据问题：跳过行、注释或其他一些不重要的东西

#### 以逗号隔开的文本文件

In [12]:
!type input\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

用read_csv读入一个DataFrame

In [1]:
import pandas as pd 
df = pd.read_csv('input\ex1.csv')

In [14]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

用read_table就要指定分隔符了

In [16]:
pd.read_table('input\ex1.csv', sep= ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 标题行的自定义

没有标题行怎么办呢？

In [17]:
pd.read_csv('input\ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

自定义一个标题行吧

In [18]:
pd.read_csv('input/ex2.csv', names = ['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 定义DataFrame的索引(index_col参数)

In [19]:
names =  ['a','b','c','d','message']

In [20]:
pd.read_csv('input/ex2.csv', names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

多个列做成层次索引

In [21]:
parsed = pd.read_csv('input/csv_mindex.csv', index_col = ['key1', 'key2'])

In [22]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

#### 非固定的分隔符
用正则表达式作为read_table的分隔符

In [26]:
list(open('input/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

该文件是由数量不定的空白符分隔，用正则表达式'\s+'表示

In [27]:
result = pd.read_table('input\ex3.txt',sep = '\s+')

In [28]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

注：由于列名比数据少一列，所以read_table自动将第一列做为DataFrame的索引

#### 跳过第几行（skiprows方法)

In [35]:
pd.read_table('input\ex4.csv',sep = '\s+', skiprows = [0,2,3])

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

#### 缺失值处理（na_values参数）
一般pandas中用NA,-1,#IND以及NULL等标记值表示缺失数据

In [36]:
resultNa = pd.read_csv('input\ex5.csv')

In [37]:
resultNa

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [39]:
pd.isnull(resultNa)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

参数na_values可以接受一组用来表示缺失值的字符串

In [47]:
resultNa = pd.read_csv('input\ex5.csv',na_values = ['NULL'])

In [48]:
resultNa

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

各列不同的NA标记值

In [49]:
sentinels = {'message':['foo', 'NA'], 'something':['two']}

In [51]:
pd.read_csv('input\ex5.csv',na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

read_csv/read_table函数的参数
![](images/20190719124452.jpg)
![](images/7178691-597327ade3e94c7a.png)

#### 逐块读取文本文件
大文件要一块一块进行迭代读取

In [53]:
result = pd.read_csv('input\ex6.csv')

In [54]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

只读几行（nrows参数）

In [56]:
pd.read_csv('input\ex6.csv',nrows = 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

逐块读取（chunksize参数表示块的大小，即行数）

In [58]:
chunker = pd.read_csv('input\ex6.csv', chunksize = 1000)

In [59]:
chunker

该parsers对象可以根据chunksize的大小对文件进行逐块迭代

In [60]:
tot = pd.Series([])

In [61]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

In [64]:
tot = tot.sort_values(ascending = False)

In [66]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

#### 将数据写到文本文件中
用to_csv方法，可以写出一个以逗号为分隔符的文件

In [67]:
data  = pd.read_csv('input\ex5.csv')

In [68]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [69]:
data.to_csv('out.csv')

也可以使用其他分隔符导出

In [70]:
data.to_csv('out.csv', sep='|')

**缺失值处理**
把空字符串的缺失值自定义成一个别的字符代替

In [72]:
data.to_csv('out.csv', na_rep = 'NULL')

禁用行、列标签（header、index参数）

In [79]:
data.to_csv('out.csv', index = False, header = False)

只写部分列，并按照指定顺序排列

In [83]:
date = pd.date_range('1/1/2011', periods=7)

In [84]:
date

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07'],
              dtype='datetime64[ns]', freq='D')

In [85]:
import numpy as np
ts = pd.Series(np.arange(7), index = date)

In [86]:
ts.to_csv('out.csv')

#### 手工处理畸形表格
上述讨论的方法都是针对规则的表格形的数据，而对于含有畸形（长短不一致）数据的文件，就不能使用read_csv/read_table之类的方法直接读取了，只能做一些手工处理

In [88]:
!type input\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

将任意打开的文件或文件型的对象传给csv_reader

In [91]:
import csv

In [165]:
f = open('input\ex7.csv')

In [156]:
reader = csv.reader(f)

对reader进行迭代，每行将产生一个元组

In [157]:
for line in reader:
    print (line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

下面进行整理

In [97]:
lines = list(csv.reader(open('input\ex7.csv')))

In [100]:
header, values = lines[0], lines[1:]

In [106]:
data_dict = {h: v for h, v in zip (header, zip(* values))}

In [107]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

#### 自定义分隔符格式
定义csv.Dialect的子类即自定义出新格式

In [185]:
class Mydialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [186]:
f = open('input\ex7.csv')
reader = csv.reader(f, dialect = Mydialect)
for x in reader :
    print(x)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

也可以以关键字的形式定义新格式：

In [146]:
reader = csv.reader(f, delimiter = '|')

csv.Dialect的属性及其功能如下：
![]('input\7178691-7a1cee622459072b.png')

> 注：对于单字符分隔符的文件，只用Python内置的csv模块足以，但对于多字符或复杂分隔符的文件，csv模块就无能为力了，这时候只能使用字符串的split方法或正则表达式方法re.split进行拆分和其他整理工作

#### 自定义分隔符并输出文件
csv.writer接受一个已打开且可写的文件对象，它跟csv.reader具有相同的语支和格式化选项

下面详细说明一下quoting的各个参数的作用

1、quoting=csv.QUOTE_ALL,escapechar=None

指示writer对象引用所有字段。

In [191]:
with open ('mydata.csv', 'w') as f:
    writer = csv.writer(f, delimiter = ',', quotechar = '|', quoting = csv.QUOTE_ALL, escapechar=None)
    writer.writerow(['one','two','three'])
    writer.writerow(['1','2','3'])
    writer.writerow(['4','5','6'])
    writer.writerow(['7','8','9'])

In [192]:
!type mydata.csv

|one|,|two|,|three|

|1|,|2|,|3|

|4|,|5|,|6|

|7|,|8|,|9|

2、quoting=csv.QUOTE_MINIMAL,escapechar=None

指示writer对象只引用那些包含特殊字符，如字段分隔符，quotechar或任何字符 lineterminator。

In [207]:
with open ('mydata.csv', 'w') as f:
    writer = csv.writer(f, delimiter = ',', quotechar = '"', quoting = csv.QUOTE_MINIMAL, escapechar=None)
    writer.writerow(['one,','two,','three'])
    writer.writerow(['1','2','3'])
    writer.writerow(['4"44"','5','6'])
    writer.writerow(['7$','8','9'])

In [208]:
!type mydata.csv

"one,","two,",three

1,2,3

"4""44""",5,6

7$,8,9

3、quoting=csv.QUOTE_NONNUMERIC,escapechar=None

指示writer对象引用所有非数字字段。指示读者将所有非引用字段转换为float类型。

In [211]:
with open ('mydata.csv', 'w') as f:
    writer = csv.writer(f, delimiter = ',', quotechar = '"', quoting = csv.QUOTE_NONNUMERIC, escapechar=None)
    writer.writerow(['one','two','three'])
    writer.writerow([1,2,3])
    writer.writerow(['4','5','6'])
    writer.writerow(['7$','8','9'])

In [212]:
!type mydata.csv

"one","two","three"

1,2,3

"4","5","6"

"7$","8","9"

4、quoting=csv.QUOTE_NONE,escapechar='$'

指示writer对象不引用字段。当输出数据中出现当前分隔符时，它前面是当前的escapechar字符。

如果未设置escapechar错误抛出；指示reader不对引号字符执行特殊处理。

In [218]:
with open ('mydata.csv', 'w') as f:
    writer = csv.writer(f, delimiter = ',', quotechar = '"', quoting = csv.QUOTE_NONE, escapechar='&')
    writer.writerow(['one,','two','three'])
    writer.writerow([1,2,3])
    writer.writerow(['4','5','6'])
    writer.writerow(['7$','8','9'])

In [219]:
!type mydata.csv

one&,,two,three

1,2,3

4,5,6

7$,8,9

#### Json数据
Json的基本类型是对象（字典）、数组（列表）、字符串、数值、布尔值以及Null，其中对象中所胡键都必须是字符串。

**json.load**将Json字符串转换成Python形式

In [221]:
import json
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [223]:
result = json.loads(obj)

In [224]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

相反，**json.dumps**将Python对象转换成Json形式

In [225]:
asJson = json.dumps(result)

In [226]:
asJson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

**Json转DataFrame**

向DataFrame构造器传入一组Json对象，并取数据字段的子集（当然也可以取出全部字段）

In [227]:
slibings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [228]:
slibings

    name  age
0  Scott   30
1  Katie   38

#### Web信息收集
Python有许多可以读写常见的HTML和XML格式数据的库，包括lxml、Beautiful Soup和html5lib。lxml的速度比较快，但其它的库处理有误的HTML或XML文件更好。

**HTML解析**

pandas.read_html有一些选项，默认条件下，它会搜索、尝试解析<table>标签内的的表格数据。结果是一个列表的DataFrame对象：

In [3]:
table = pd.read_html('input/fdic_failed_bank_list.html')

In [10]:
failture = table[0]

In [11]:
failture.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

下面按倒闭年份统计银行的个数

In [12]:
close_timestap = pd.to_datetime(failture['Closing Date'])

In [15]:
close_timestap.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

**XML解析**

lxml.objectify解析XML文件，然后通过getroot得到该XML文件的根节点

In [16]:
from lxml import objectify

In [17]:
path = 'input/Performance_MNR.xml'

In [18]:
parsed = objectify.parse(path)

In [19]:
root = parsed.getroot()

root.INDICATOR返回一个用于产生各个<INDICATOR>XML元素的生成器

In [22]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

In [27]:
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [28]:
perf = pd.DataFrame(data)

In [33]:
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95