### 其他有关pandas的话题
#### 整数索引
前面提到过，如果是整数索引，就会和Python数据结构（如列表和元组）自有的索引发生冲突，如下

In [1]:
import pandas as pd
import numpy as np
ser = pd.Series(np.arange(3))

In [5]:
ser

0    0
1    1
2    2
dtype: int32

In [4]:
ser[-1]

KeyError: -1

这里我们有0，1，2的索引，无法判断用户要什么（基于标签或位置的索引），如果用非整数索引，就没有这样的冲突

In [6]:
ser2 = pd.Series(np.arange(3),index=['a','b','c'])

In [7]:
ser2[-1]

2

要用标签进行索引的用**loc**方法

In [9]:
ser.loc[:1]

0    0
1    1
dtype: int32

要用基于位置的索引，用**iloc**方法

In [15]:
ser3 = pd.Series(range(3), index = [-5,1,3])

In [18]:
ser3

-5    0
 1    1
 3    2
dtype: int64

In [19]:
ser3.[1]

1

In [20]:
frame = pd.DataFrame(np.arange(6).reshape(3,2),
                    index=[2,0,1])

In [21]:
frame

   0  1
2  0  1
0  2  3
1  4  5

In [23]:
frame.iloc[0]

0    0
1    1
Name: 2, dtype: int32